<form id="search" class="container" action="/admin/{{table}}" method="POST" style="margin-top: 10px">
    <div class="search-wrapper row">
        <div class="col s8">
            <input placeholder="{{searchPlaceholder}}" autocomplete="off" name="search" value="{{searchValue}}">
        </div>
        <div class="col s2">
            <button class="btn-large">Шукати</button>
        </div>
        <a class="col s2" href="/admin/{{table}}/add">
            <div class="btn-large">Додати</div>
        </a>
    </div>
</form>