<div class="container">
    <h2>Додати новий турнір</h2>
    <form action="/admin/tournaments/add" method="post">
        <div class="input-field">
            <input name="name" placeholder="Назва" id="name" type="text" class="validate" autocomplete="off" required>
            <label for="name">Назва</label>
        </div>

        <div class="input-field">
            <input name="date" placeholder="Дата" id="date" type="text" class="datepicker" autocomplete="off" required>
            <label for="date">Дата</label>
        </div>

        <button class="btn-large">Додати новий турнір</button>
    </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const elem = document.querySelectorAll('.datepicker');
        const instances = M.Datepicker.init(elem, {
            format: 'yyyy-mm-dd',
            i18n: {
                cancel: 'Відміна',
                months: [
                    'Січень',
                    'Лютий',
                    'Березень',
                    'Квітень',
                    'Травень',
                    'Червень',
                    'Липень',
                    'Серпень',
                    'Вересень',
                    'Жовтень',
                    'Листопад',
                    'Грудень'
                ],
                monthsShort: [
                    'Січень',
                    'Лютий',
                    'Березень',
                    'Квітень',
                    'Травень',
                    'Червень',
                    'Липень',
                    'Серпень',
                    'Вересень',
                    'Жовтень',
                    'Листопад',
                    'Грудень'
                ],
                weekdays: [
                    'Неділя',
                    'Понеділок',
                    'Вівторок',
                    'Середа',
                    'Четвер',
                    'П’ятниця',
                    'Субота'
                ],
                weekdaysShort: [
                    'Неділя',
                    'Понеділок',
                    'Вівторок',
                    'Середа',
                    'Четвер',
                    'П’ятниця',
                    'Субота'
                ],
                weekdaysAbbrev: ['Н', 'П',  'В', 'С', 'Ч', 'П', 'С',]
            }
        });
    })
</script>